/* CSS declarations go here */
.AddArrayObjectButton {
  margin-top: -15px;
  margin-bottom: 20px;
}

.newAddArrayObjectButton {
  margin-top: -10px;
  margin-bottom: 20px;
}

.add-btn {
  width:100%;
  height:50px;
  padding: 0;
  border: none;
}

.middle {
	margin-top: 5%;
}